body { 
background: url("/media/pictures/1366.jpg"); background-size: cover; 
font-family: 'Roboto', sans-serif;
font-size: 20px;
color: white;
} 
heading {
font-family: 'Roboto', sans-serif;
font-size: 35px;
color: white;
}
p:link{
font-family: 'Roboto', sans-serif;
text-decoration: none;
}
a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 


