body { 
background: url("/media/pictures/1366.jpg"); background-size: cover; 
font-family: 'Roboto', sans-serif;
font-size: 20px;
color: white;
} 
heading {
font-family: 'Roboto', sans-serif;
font-size: 35px;
color: white;
}
p{
font-family: 'Roboto', sans-serif;

}
/* unvisited link */
p:link {
  color: white;
}

/* visited link */
p:visited {
  color: white;
}

/* mouse over link */
p:hover {
  color: white;
}

/* selected link */
p:active {
  color: white;
}

