body {
	background-color: black;
	color: blue;
	text-align: center;
}
h1 {
	width: 100%;
	font-size: 50px;
}
h2 {
	width: 100%;
	color: white;
	font-size: 60px;
	position: absolute;
	top: 30%;
	left: 0;
}
h3 {
	font-size: 30px;
	color: white;
	width: 20%;
	position: absolute;
}
#week_number {
	top: 0;
	text-align: left;
	margin-left: 30px;
}
#week {
	top: 0; 
	left: 80%;
}

#date {
	color: blue;
	top:48%;
	font-size: 25px;
}
#creds {
	color: grey;
	top: 95%;
	font-size: 10px;
}
ul li{
	display: block;
	width: 20%;
	height: 10%;
	font-size: 45px;
	position: absolute;
	left: 0;
}
.days li{top: 75%; color: blue;}
#day_2 {left: 20%;}
#day_3 {left: 40%;}
#day_4 {left: 60%;}
#day_5 {left: 80%;}
.dates li {top: 85%; color: white;}
#date_2 {left: 20%;}
#date_3 {left: 40%;}
#date_4 {left: 60%;}
#date_5 {left: 80%;}
